.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.container {  
  height: 600px;
  width: 500px;
  background: #ffffff;
  box-shadow: var(--shadow-container);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
  border-radius: 20px;
  
}

.header {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 150px;
 
  background-image: url('@static/images/dogge_background.svg');
  border-radius: 20px 20px 0 0;


  color: #ffffff;
  text-align: center;
  padding-bottom: 16px;
  font-size: 50px;
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
}

.form_container {  
  width: 100%;
  padding: 0 125px;
}

.input_container {
  margin-bottom: 15px;
}

.sign_up {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  color: var(--color-accent);
  font-size: 14px;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-shadow: var(--shadow-text)
}